<a href="https://colab.research.google.com/github/Rahulgarla/Flash/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Functional programming
1. simple
2. easy to understand
3. better reusability
4. length of program will be divided into sub program

In [12]:
# Read a number
# print even digit sum from the number

# input=1234
# output=6(2+4)
def evendigitsum(n):
    s = 0
    while n!=0:
      r=n%10
      if r%2==0:
        s=s+r
      n=n//10
    return s 
evendigitsum(1234)

6

In [13]:
# define return function
def square(x):
    print(x*x)
print(square(4))

16
None

In [17]:
def square(x):
  return x*x
square(4)

16

In [18]:
def cube(x):
  return x*x*x
cube(3)

27

In [20]:
def multiply(x,y):
    print("value of x=",x)
    print("value of y=",y)
    return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

In [30]:
# swap  values
def swap(x=2,y=3):
    temp=x
    x=y
    y=temp
    return x,y
swap(2,3)

(3, 2)

In [34]:
# input=18764
# output=9(large number of digit)
def largedigit(n):
    large=0
    while n!=0:
        r=n%10
        if large<r:
          large=r
        n=n//10
    return large
largedigit(18764)

8

In [43]:
# input=18764
# output=1(small number of digit)
def smalldigit(n):
    small=n
    while n!=0:
        r=n%10
        if small>r:
          small=r
        n=n//10
    return small
smalldigit(18764)

1

## For loop
#### syntax 1:
for 1 in range (start,stop,step):
> statements
#### syntax 2:
for 1 in itarableobject:
> statements

In [55]:
# Function to print the numbers between two limits

def printseries(lb,ub):
   for x in range(lb,ub+1):
     print(x,end=' ')
   return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

# DATA STRUCTURES
## collection types:
1. list
2, tupple
3. set
4. stationary

# list:

# - one of data stucture in python
# - data structure means to sstore, sort and search options
# - its noe common data structure in python, the items of list sepersted by comma and enclosed in square brackets [ ]

#### examples:
     - list1 = [1,2,3,4,5]
     - list2 = ["gitam",1,2]

In [66]:
  # 0  1  2   3  4
li=[1, 8, 16, 9, 2]
 # -5 -4 -3  -2 -1  
print(li) # will print all the list items 
print(li[0])
print(li[1])
print(li[-5])
print(li[-4])
print(li[1:4])
print(li[-5:-3])
print(li[-3:-5]) # no output list coz wrong selection
print(li[-4:-3])

[1, 8, 16, 9, 2]
1
8
1
8
[8, 16, 9]
[1, 8]
[]
[8]

In [74]:
# update list
li=['gitam',1234,2019,'hyd']
print(li)
li[1]=450
print(li)

['gitam', 1234, 2019, 'hyd']
['gitam', 450, 2019, 'hyd']

In [75]:
# delete unwanted list
li=['gitam',1234,2019,'hyd']
print(li)
del li[3]
print(li)

['gitam', 1234, 2019, 'hyd']
['gitam', 1234, 2019]